.question{
  color:white;
  background-color:gray;
  text-align:center;
  font-size:40px;
  min-height:width;
}

.question:before{
  display: block;
  padding-top: 100%;
  float: left;
}

.answer{
  color:white;
  background-color:gray;
  width:48%;
  text-align:center;
  margin-top:20px;
  padding:10px;
}

.answer:hover{
  color:gray;
  background-color:white;
}

.answer:active{
  color:gray;
  background-color:white;
}

.floatLeft{
  float:left;
}

.floatRight{
  float:right;
}

.hintSkipButton{
  color:white;
  background-color:gray;
  text-align:center;
  vertical-align: middle;
}

.hintSkipButton:hover{
  color:gray;
  background-color:white;
}

.hintSkipButton:active{
  color:gray;
  background-color:white;
}

.row {
  display: table;
  border:none;
}

.colButton{
  display:table-cell;
  padding: 1em;
  border: none;
  width:10%;
}

.col {
  display:table-cell;
  padding: 1em;
  border: none;
}

.nav > li > a{
 background-color:gray; 
 color:white;
}

.nav > li > a:hover{
 background-color:white; 
 color:gray;
}

.nav > li > a:active{
 background-color:white; 
 color:gray;
}

.navbar{
  width:15%;
}

.playlistButton{
  color:white;
  background-color:gray;
  border:none;
  padding:5px;
  text-decoration:none;
  font-size:25px;
  transition-duration: 0.4s;
  margin-bottom:5px;
  width:20%;
}

.playlistButton:hover{
  color:gray;
  background-color:white;
}

.playlistButton:active{
  color:gray;
  background-color:white;
}


.playlistList{
  list-style-type:none;
  padding-left:0;
}

.playlistText{
  font-size:25px;
}

.agegroupText{
 font-size:25px; 
 padding-right:10px;
}

.toggle input[type="radio"] {
  display:none;
}

.toggle input[type="radio"]:checked + label {
  font-size:20px;
  background:white;
  color:gray;
}

.toggle input[type="radio"] + label {
  background:gray;
  color:white;
}

.toggle label {
  text-align:center;
  width:20%;
  font-size:20px;
  padding:10px;
  border:1px solid #CCC;
  cursor:pointer;
}
