<!DOCTYPE html>
<html ng-app="orchestrapp">

<head lang="en">
  <meta charset="utf-8">
  <link href="https://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet" />
  <link href="start.css" rel="stylesheet" />
</head>

<body ng-controller="MainCtrl">
  <div class="row">
    <div class="navbar col">
      <div class="navbar-inner">
        <ul class="nav">
          <!--################################################################-->
          <!--######################Dynamic navber############################-->
          <li data-match-route="/{{nav_item.href}}" ng-repeat="nav_item in nav_items">
            <a href="#/{{nav_item.href}}">{{nav_item.text}}</a>
          </li>
          <!--################################################################-->
          <!--######################Static navbar#############################-->
          <!--            <li data-match-route="/home">
              <a href="#/home">Home</a>
            </li>
            <li data-match-route="/custom_page">
              <a href="#/custom_page">Custom Page</a>
            </li>
            <li data-match-route="/about">
              <a href="#/about">About</a>
            </li>-->
          <!--################################################################-->
          <!--################################################################-->
        </ul>
      </div>
    </div>
    <div class="container col">
      <ng-view></ng-view>
    </div>
  </div>
  <!--<footer class="well">
    <iframe src="https://embed.spotify.com/?uri=spotify:track:2SkTXkFpM6AnunYEArAmNQ&view=coverart" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </footer> -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="angular-spotify/src/angular-spotify.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
  <script src="http://yahyakacem.github.io/Navbar_directives/public/libs/angular-strap/dist/angular-strap.min.js"></script>
  <script src="controllers.js"></script>
  <script src="app.js"></script>
</body>

</html>
